<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_profile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business_profile.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @business_profile.url %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @business_profile.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @business_profile.facebook %>
</p>

<p>
  <strong>Google:</strong>
  <%= @business_profile.google %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @business_profile.employees %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @business_profile.slug %>
</p>

<p>
  <strong>Address:</strong>
  <%= @business_profile.address %>
</p>

<p>
  <strong>Hiring:</strong>
  <%= @business_profile.hiring %>
</p>

<p>
  <strong>Image:</strong>
  <%= @business_profile.image %>
</p>

<p>
  <strong>Email:</strong>
  <%= @business_profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @business_profile.phone %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @business_profile.linkedin %>
</p>

<p>
  <strong>Github:</strong>
  <%= @business_profile.github %>
</p>

<%= link_to 'Edit', edit_business_profile_path(@business_profile) %> |
<%= link_to 'Back', business_profiles_path %>
