<h3>My account</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p><%= link_to "Change email/password", edit_user_registration_path, class: 'btn btn-default' %></p>

<hr>

<h3>My profile</h3>
<% if @user_profile %>

	<h4>Tagline</h4>
	<p><%= @user_profile.tagline %></p>

	<h4>About me</h4>
	<p><%= @user_profile.about %></p>

	<p><%= link_to "Edit my profile", edit_user_profile_path(current_user), class: 'btn btn-default' %> <%= link_to "View my profile", user_profile_path(current_user), class: 'btn btn-info' %></p>
<% else %>
	<p><%= link_to "Create your profile", new_user_profile_path, class: 'btn btn-success' %></p>
<% end %>



<% if @user.business_profiles.count > 0 %>

	<h2>My businesses</h2>
	<% current_user.business_profiles.each do |business_profile| %>
		<p><%= business_profile.name %></p>
	<% end %>


<% end %>

	<%= link_to "Create business profile", new_business_profile_path, class: 'btn btn-success' %>






