<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user %>
</p>

<p>
  <strong>About:</strong>
  <%= @user_profile.about %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_profile.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user_profile.phone %>
</p>

<p>
  <strong>Url:</strong>
  <%= @user_profile.url %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user_profile.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @user_profile.facebook %>
</p>

<p>
  <strong>Google:</strong>
  <%= @user_profile.google %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @user_profile.slug %>
</p>

<p>
  <strong>Mentor:</strong>
  <%= @user_profile.mentor %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user_profile.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @user_profile.tagline %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @user_profile.linkedin %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user_profile.github %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
