<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Thestartupcommunityp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Thestartupcommunityp" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,500|Raleway:200,600' rel='stylesheet' type='text/css' />
  </head>
  <body class="bg-color-grayLight1">
  <div class="mainWrapper">
    <header>
      <%= render 'layouts/header' %>
    </header>
       <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
